<%- include('../../includes/header')-%>
        <div id="wrapper" class="wrapper" >
            <%- include('../../includes/topbar')-%>
            <div class="page-wrap">
                <%- include('../../includes/sidebar')-%>
                <div class="main-content">
                    <div class="container-fluid">
                        <div class="row clearfix">
                            <div class="col-md-10">
                                <h1 class="text-center"><%= title %></h1>
                            </div>
                        </div>

                        <div class="panel-body" >
                            
                        </div>

                        <div class="container gallery-container">
                          <form action="/pd/trainedFarmerGalleryPost" id="FieldTrialForm" class="form-horizontal" method="post"  role="form" enctype="multipart/form-data">
                              <div class="row">
                                  <div class="form-group col-md-4">
                                      <label >নতুন ছবি আপ্লোড করুন</label>
                                      <input type="file" id="filename" class="form-control" name="farmerTraining" required>
                                  </div>

                                  <div class="form-group col-md-4">
                                      <label for="district">বাছুন:</label>
                                      <select id="district" name="district" class="form-control">
                                          <option value="">জেলা বাছুন:</option>
                                          <%if (district.length >0){ %>
                                              <% district.forEach(function(row){ %>
                                                  <option value="<%= row.id %>"><%= row.district %></option>
                                              <% }) %>
                                          <% } %>

                                      </select>
                                  </div>
                                  
                                  <div class="form-group col-md-4">
                                      <div class="form-group">
                                          <label for="district">উপজেলা :</label>
                                          <select name="upazilla" id="upazilla" class="form-control">
                                              <option value="0" disabled="true" selected="true">উপজেলা বাছুন</option>
                                          </select>
                                      </div>
                                  </div>
                                  <div class="form-group col-md-4">
                                      <label for="district"></label>
                                      <input type="submit" name="submit" value="আপ্লোড" class="btn btn-primary">
                                  </div>
                              </div>
                          </form>

                          <div class="tz-gallery">
                                <div class="row">
                                    <% records.forEach(function(row,index){ %>
                                    <div class="col-sm-12 col-md-4">
                                        <a class="lightbox" href="<%= row.image %>">
                                            <img class="chobi" src="<%= row.image %>">
                                        </a>
                                    </div>
                                    <% }) %>
                                </div>
                          </div>


                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>


   
<%- include('../../includes/footer')-%>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');

    $('#district').on("change",function () {
        var district = $('#district').val();
        $.ajax({
            type: "POST",
            url: "/pd/trainedFarmerDistrictFilter",
            data: {district: district},
            datatype: "json",
            beforeSend: function() {
                // setting a timeout
                $('#loading').show();
                $('#output').hide();
            },
            success: function (data) {
                $('#output').html(data);
                $('#tblCustomers').DataTable();
                $('#upazilla').empty();
                if(data){
                    $.each(data, function(key, value){
                        $('#upazilla').append('<option value="'+value.id+'">' + value.upazilla + '</option>');

                    });
                }else {
                    $('#upazilla').empty();
                }

            },
            complete: function() {
                $('#loading').hide();
                $('#output').show();
            }
        });
    });
</script>