<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>কৃষি মেলা তথ্য</title>

    <style>
        .flex-container {
            display: flex;

            justify-content: center
        }
        .table, td, th {
            border: 1px solid black;
        }
        .table {
            width: 100%;
            border-collapse: collapse;
        }
        .center {
            text-align: center;
        }
        .inline-block-child {
            display: inline-block;
        }
    </style>
</head>
<body>

<div style="margin-top: 5px; padding-top: 5px; padding-bottom: 5px; background-color: #ffffffa6;" class="center">
    <div>
        <h1>প্রদর্শনী স্থাপনের চূড়ান্ত প্রতিবেদন তথ্য</h1>
        <p><b>উপজেলার নাম :</b><%= centerName %></p>
        <%if (records.length >0){ %>
            <table class="table table-bordered table-striped" id="tblexportData" cellspacing="0" cellpadding="0">
            <thead>
            <tr>
                <th>ক্রমিক নং</th>
                <th>কৃষকের নাম ও পিতা/স্বামীর নাম</th>
                <th>গ্রাম/ব্লক</th>
                <th>কৃষকের মোবাইল নম্বর</th>
                <th>ব্যবহৃত জাত</th>
                <th>রোপন/স্থাপনের তারিখ </th>
                <th>কর্তন ফসল সংগ্রহের তারিখ</th>
                <th>উৎপাদন টন/হেঃ</th>
                <th>কৃষকের মন্তব্য</th>
                <th>উপজেলা কৃষি অফিসারের মন্তব্য</th>
                <th>জেলা পরিচালকের মন্তব্য</th>
                <th>প্রজেক্ট পরিচালকের মন্তব্য</th>
                <th>যোগ করুন/পরিবর্তন করুন</th>
            </tr>
            </thead>
            <tbody>
                <% records.forEach(function(row,index){ %>
                    <tr>
                        <td><%= index+1 %></td>
                        <td><%= row.name %></td>
                        <td><%= row.vname %></td>
                        <td><%= row.mnum %></td>
                        <td><%= row.breedname %></td>
                        <td><%= row.trialdate %></td>
                        <td><%= row.cdate %></td>
                        <td><%= row.production %></td>
                        <td><%= row.fcomment %></td>
                        <td><%= row.kcomment %></td>
                        <td><%= row.ddComment %></td>
                        <td><%= row.pdComment %></td>
                        <td><a class="btn btn-primary btn-xs" href="/upazilla/finalTrialEdit/<%= row.id %>"><i class="fa fa-edit"></i></a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
        <% }else{ %>
            <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
                <thead>
                <tr>
                    <th>ক্রমিক নং</th>
                <th>কৃষকের নাম ও পিতা/স্বামীর নাম</th>
                <th>গ্রাম/ব্লক</th>
                <th>কৃষকের মোবাইল নম্বর</th>
                <th>ব্যবহৃত জাত</th>
                <th>রোপন/স্থাপনের তারিখ </th>
                <th>কর্তন ফসল সংগ্রহের তারিখ</th>
                <th>উৎপাদন টন/হেঃ</th>
                <th>কৃষকের মন্তব্য</th>
                <th>উপজেলা কৃষি অফিসারের মন্তব্য</th>
                <th>জেলা পরিচালকের মন্তব্য</th>
                <th>প্রজেক্ট পরিচালকের মন্তব্য</th>
                </tr>
                </thead>
                <tbody>
                <% records.forEach(function(row){ %>
                    <tr>
                        <td colspan="10">No data Found</td>
                    </tr>
                <% }) %>
                </tbody>
            </table>
        <% } %>
    </div>
</div>

</body>
</html>